:root {
  --clr-dark-100-: #393B5F;
  --clr-dark-200-: #545379;
  --clr-dark-300-: #685E7D;
  --clr-light-1000: #FFFFFF;
  --clr-light-800: #FDF9F4;
  --clr-light-700: #F9EADD;
  --clr-accent-: #55ADFD;
  --clr-dark-accent-: #82B4E1;
  --clr-ff-heading-: #2E263E;
  --clr-ff-subtitle-: #393B5F;
  --clr-ff-para-: #27232E;

  --bg-color: var(--clr-light-700);
  --bg-secondary-color: var(--clr-light-800);
  --heading-color: var(--clr-ff-heading-);
  --para-color: var(--clr-ff-para-);
  --subtitle-color: var(--clr-ff-subtitle-);
  --input-color: var(--clr-ff-para-);
  --button-color: var(--clr-accent-);
  --button-text-color: var(--clr-light-1000);
}

/* Light theme */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--clr-light-700);
    --bg-secondary-color: var(--clr-light-800);
    --heading-color: var(--clr-ff-heading-);
    --para-color: var(--clr-ff-para-);
    --subtitle-color: var(--clr-ff-subtitle-);
    --input-color: var(--clr-ff-para-);
    --button-color: var(--clr-accent-);
    --button-text-color: var(--clr-light-1000);
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--clr-dark-100-);
    --bg-secondary-color: var(--clr-dark-300-);
    --heading-color: var(--clr-light-800);
    --para-color: var(--clr-light-1000);
    --subtitle-color: var(--clr-light-700);
    --input-color: var(--clr-light-1000);
    --button-color: var(--clr-dark-accent-accent-);
    --button-text-color: var(--clr-light-1000);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&family=Source+Code+Pro:wght@300;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sofia Sans', 'Courier New', Courier, monospace;
  background-color: #f5eae0;
  overflow: hidden;
}

.dropbtn {
  
  color: white;
  font-size: 16px;
  border: none;
}

.dropdown{
  position: relative;
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  transform: translateY(20px);
}

.dropdown-content {
  display: none;
  
  position: absolute;
  background-color: #f1f1f1;
  min-width: 8rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translateY(3rem) translateX(-1rem);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


.icon-tab {
  margin: 0 1.5rem 0 1.5rem;
  align-self: flex-end;
}

input:focus {
  outline: none !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 10px;
}

#logout {
  display: flex;
  align-items: center;
}

.card {
  flex-basis: 25%;
  background-color: #fdfaf4;

  background-color: #F5EAE0;
}

.hide {
  display: none !important;
}

#loginWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(30px);
  display: flex;
  justify-content: center;
  align-items: center;

}

#login-form {
  display: flex;
  flex-direction: column;
  width: 18rem;

  visibility: hidden;
}

#login-form input {
  height: 3rem;
  margin: 0.3rem 0 0.3rem 0;
  border-radius: 10px;
}

#login-form button {
  margin: 0.3rem 0 0.3rem 0;
  height: 3rem;
  font-size: 1.1rem;
  background-color: var(--clr-accent-);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#login-form button:last-child {
  background-color: black;
}

.login-container {
  background-color: white;
  padding: 5rem;
  backdrop-filter: blur(10px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

textarea {
  resize: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #27232E;
  padding: 1.5rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  color: white;
  
  
}

.nav {
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.search-container .search-bar {
  min-width: 15rem;
  max-width: 20rem;
  
  border-radius: 20px;
  border: 0;
}

header {
  background-color: #27232E;
  display: flex;
  justify-content: space-between;
  
}

.search-field button {
  cursor: pointer;
}

.search-container .search-field {
  outline: 1px solid black;
  
  padding-left: 1.5rem;
  margin-right: 5rem;
  border-radius: 20rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


#post, #search {
  height: 2.5rem;
  border-radius: 20rem;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: var(--clr-accent-);
  width: 10rem;
  border: 2px white solid;
  margin: 0 1.5rem 0 1.5rem;
  cursor: pointer;
}

.search-container .search-field button {
  height: 2.5rem;
  text-align: center;
  border-radius: 20rem;
  border: 0;
  width: 3.5rem;
  background-color: var(--clr-accent-);
  color: white;
  border: 2px white solid;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 10px;
}

input:focus {
  outline: none !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 10px;
}

.card {
  flex-basis: 25%;
  background-color: #FDFAF4;

  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 5px #ccc;
  height: 168px;
  width: 336px;
  margin: 1%;
}

@media only screen and (max-width: 600px) {
  .card {
    flex-basis: calc(50% - 20px);
  }
}

/* DANYS FEATURE */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

#danyBtn {
  font-family: "Aboreto", sans-serif;
  background-color: black;
  color: white;
  border: 5px solid rgb(151, 3, 3);
  cursor: pointer;
  border-radius: 50%;
}

#danyBtn:hover {
  filter: grayscale(1);
}

#danyh4 {
  font-family: "Aboreto", sans-serif;
  transition: 5s;
  margin: 5px;
  padding: 0;
  text-decoration: line-through overline underline rgb(151, 3, 3);
  font-size: 35px;
}

.hidden {
  display: none;
}

.fadeInText {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    flex-basis: calc(50% - 20px);
    
  }

  body {
    overflow: hidden;
  }
  .login-container {
    
  }

  
}

#postBox {
  margin:2rem;
}

#textform {
  outline: 1px solid black;
  padding-left: 1.5rem;
  margin-right: 5rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#textform button {
  height: 2.5rem;
  border-radius: 20rem;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: var(--clr-accent-);
  width: 10rem;
  border: 2px white solid;
  margin: 0 1.5rem 0 1.5rem;
  cursor: pointer;
}