
:root {
  --clr-dark-100-: #393B5F;
  --clr-dark-200-: #545379;
  --clr-dark-300-: #685E7D;
  --clr-light-1000: #FFFFFF;
  --clr-light-800: #FDF9F4;
  --clr-light-700: #F9EADD;
  --clr-accent-: #55ADFD;
  --clr-dark-accent-: #82B4E1;
  --clr-ff-heading-: #2E263E;
  --clr-ff-subtitle-: #393B5F;
  --clr-ff-para-: #27232E;

  --bg-color: var(--clr-light-700);
  --bg-secondary-color: var(--clr-light-800);
  --heading-color: var(--clr-ff-heading-);
  --para-color: var(--clr-ff-para-);
  --subtitle-color: var(--clr-ff-subtitle-);
  --input-color: var(--clr-ff-para-);
  --button-color: var(--clr-accent-);
  --button-text-color: var(--clr-light-1000);
}

/* Light theme */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--clr-light-700);
    --bg-secondary-color: var(--clr-light-800);
    --heading-color: var(--clr-ff-heading-);
    --para-color: var(--clr-ff-para-);
    --subtitle-color: var(--clr-ff-subtitle-);
    --input-color: var(--clr-ff-para-);
    --button-color: var(--clr-accent-);
    --button-text-color: var(--clr-light-1000);
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--clr-dark-100-);
    --bg-secondary-color: var(--clr-dark-300-);
    --heading-color: var(--clr-light-800);
    --para-color: var(--clr-light-1000);
    --subtitle-color: var(--clr-light-700);
    --input-color: var(--clr-light-1000);
    --button-color: var(--clr-dark-accent-accent-);
    --button-text-color: var(--clr-light-1000);
}

body {

  background-color: #f5eae0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  border-radius: 20px;
  border: 0;
  padding: 10px;
}

input:focus {
  outline: none !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 10px;
}

.card {
  flex-basis: 25%;
  background-color: #fdfaf4;

    background-color: #F5EAE0;
  }
.hide {
  display:flex!important;
}
#loginWrapper {
  height:100%;
  width:100%;
  position: absolute;
  background-color: #F5EAE0;
  display: none;
  justify-content: center;
  align-items: center;
}

#login-form {
  max-width:336px;
  margin: 0 auto;
}

#login-form input {
  padding: 1rem;
  margin: 1rem;
}

#login-form button {
  padding: 1rem;
  max-width: 150px;
  margin: 1rem;
}

  textarea {
    resize: none;
  }



body {
  background-color: #F5EAE0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  border-radius: 20px;
  border: 0;
  padding: 10px;

}

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;
  }



input:focus {
  outline: none !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 10px;
}

.card {
  flex-basis: 25%;
  background-color: #FDFAF4;

  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 5px #ccc;
  height: 168px;
  width: 336px;
  margin: 1%;
}

@media only screen and (max-width: 600px) {
  .card {
    flex-basis: calc(50% - 20px);
  }
}

/* DANYS FEATURE */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

#danyBtn {
  font-family: "Aboreto", sans-serif;
  background-color: black;
  color: white;
  border: 5px solid rgb(151, 3, 3);
  cursor: pointer;
  border-radius: 50%;
}

#danyBtn:hover {
  filter: grayscale(1);
}

#danyh4 {
  font-family: "Aboreto", sans-serif;
  transition: 5s;
  margin: 5px;
  padding: 0;
  text-decoration: line-through overline underline rgb(151, 3, 3);
  font-size: 35px;
}

.hidden {
  display: none;
}

.fadeInText {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
    .card {
      flex-basis: calc(50% - 20px);
    }
  }
}