/*       - CSS - Varsågod och ta för dig! -      */

.random-container {
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 55%;
}

.random-container * {
    max-width: 80%;
}

/* Flower animation */

.flowers img {
    width: 70px;
    animation: flower 5s linear infinite;
}


.flowers {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-around;
    position: absolute;
    top: -80px;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 100% 35%, 68% 57%, 78% 91%, 50% 70%, 22% 91%, 32% 57%, 0% 35%, 39% 35%);
    position: absolute;
    width: 8px;
    height: 8px;
    background: var(--subtitle-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }    
}

#garf {
    display: none;
    height: 150px;
    position: absolute;
    top: 10rem; left: 40rem;
  }

  #garfBtn {
    border: none;
    background: none;
    filter: drop-shadow(30px 10px 4px #4444dd);
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: white;
  }

  #hampusKnapp {
    padding: 5rem;
  }

@keyframes flower {
    0% {
        transform: translateY(0);
        opacity: 2;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(80vh);
        opacity: 0;
    }
}

.flowers img:nth-child(1){
    animation-delay: 3s;
    width: 60px;
}
.flowers img:nth-child(2){
    animation-delay: 1s;
    width: 40px;
}
.flowers img:nth-child(3){
    animation-delay: 4s;
}
.flowers img:nth-child(4){
    animation-delay: 5.5s;
    width: 50px;
}
.flowers img:nth-child(5){
    animation-delay: 2.5s;
}
.flowers img:nth-child(6){
    animation-delay: 4.5s;
    width: 40px;
}
.flowers img:nth-child(7){
    animation-delay: 7s;
    width: 60px;
}
/* end of flower animation */



















/*-----------------------------------------------*/

:root {
    --clr-dark-100-: #393B5F;
    --clr-dark-200-: #545379;
    --clr-dark-300-: #685E7D;
    --clr-light-1000: #FFFFFF;
    --clr-light-800: #FDF9F4;
    --clr-light-700: #F9EADD;
    --clr-accent-: #55ADFD;
    --clr-dark-accent-: #82B4E1;
    --clr-ff-heading-: #2E263E;
    --clr-ff-subtitle-: #393B5F;
    --clr-ff-para-: #27232E;

    --bg-color: var(--clr-light-700);
    --bg-secondary-color: var(--clr-light-800);
    --heading-color: var(--clr-ff-heading-);
    --para-color: var(--clr-ff-para-);
    --subtitle-color: var(--clr-ff-subtitle-);
    --input-color: var(--clr-ff-para-);
    --button-color: var(--clr-accent-);
    --button-text-color: var(--clr-light-1000);
}

/* Light theme */
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: var(--clr-light-700);
        --bg-secondary-color: var(--clr-light-800);
        --heading-color: var(--clr-ff-heading-);
        --para-color: var(--clr-ff-para-);
        --subtitle-color: var(--clr-ff-subtitle-);
        --input-color: var(--clr-ff-para-);
        --button-color: var(--clr-accent-);
        --button-text-color: var(--clr-light-1000);
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--clr-dark-100-);
        --bg-secondary-color: var(--clr-dark-300-);
        --heading-color: var(--clr-light-800);
        --para-color: var(--clr-light-1000);
        --subtitle-color: var(--clr-light-700);
        --input-color: var(--clr-light-1000);
        --button-color: var(--clr-dark-accent-);
        --button-text-color: var(--clr-light-1000);
    }
}

.random-container {
    color: var(--subtitle-color);
}

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&family=Source+Code+Pro:wght@300;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Sofia Sans', 'Courier New', Courier, monospace;
    background-color: var(--bg-color);

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-container {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--clr-ff-para-);
    padding: 1.5rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    color: white;
}

.nav {
    width: 15rem;
    display: flex;
    justify-content: space-between;
}

.icon-tab {
    margin: 0 1.5rem 0 1.5rem;
    align-self: flex-end;
}


.dropbtn {

    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    transform: translateY(20px);
}

.dropdown-content {
    display: none;

    position: absolute;
    background-color: #f1f1f1;
    min-width: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateY(3rem) translateX(-1rem);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.icon-tab {
    margin: 0 1.5rem 0 1.5rem;
    align-self: flex-end;
}

#logout,
#random {
    display: flex;
    align-items: center;
    justify-content: space-around;
}




@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0d1172;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #5e5379;
    top: 60%;
    left: 70%;
    animation-duration: 42s;
    animation-delay: -47s;
    transform-origin: -23vw 14vh;
    box-shadow: 40vmin 0 5.462969152925611vmin currentColor;
}
.background span:nth-child(1) {
    color: #5e5379;
    top: 97%;
    left: 13%;
    animation-duration: 26s;
    animation-delay: -33s;
    transform-origin: -12vw -3vh;
    box-shadow: -40vmin 0 5.012405192519816vmin currentColor;
}
.background span:nth-child(2) {
    color: #5e5379;
    top: 15%;
    left: 22%;
    animation-duration: 42s;
    animation-delay: -13s;
    transform-origin: -5vw 10vh;
    box-shadow: -40vmin 0 5.899503439799378vmin currentColor;
}
.background span:nth-child(3) {
    color: #bccdbc;
    top: 78%;
    left: 83%;
    animation-duration: 13s;
    animation-delay: -3s;
    transform-origin: -6vw 21vh;
    box-shadow: -40vmin 0 5.879268575878637vmin currentColor;
}
.background span:nth-child(4) {
    color: #bccdbc;
    top: 67%;
    left: 82%;
    animation-duration: 48s;
    animation-delay: -46s;
    transform-origin: 12vw 6vh;
    box-shadow: 40vmin 0 5.96515903665594vmin currentColor;
}
.background span:nth-child(5) {
    color: #bd8e28;
    top: 72%;
    left: 55%;
    animation-duration: 34s;
    animation-delay: -11s;
    transform-origin: 6vw 11vh;
    box-shadow: 40vmin 0 5.364237839018212vmin currentColor;
}
.background span:nth-child(6) {
    color: #5e5379;
    top: 41%;
    left: 57%;
    animation-duration: 46s;
    animation-delay: -40s;
    transform-origin: 19vw 4vh;
    box-shadow: -40vmin 0 5.175013720141075vmin currentColor;
}
.background span:nth-child(7) {
    color: #bd8e28;
    top: 30%;
    left: 9%;
    animation-duration: 45s;
    animation-delay: -23s;
    transform-origin: -12vw -15vh;
    box-shadow: 40vmin 0 5.177714272045303vmin currentColor;
}
.background span:nth-child(8) {
    color: #5e5379;
    top: 44%;
    left: 18%;
    animation-duration: 23s;
    animation-delay: -14s;
    transform-origin: 4vw 1vh;
    box-shadow: 40vmin 0 5.106074456723112vmin currentColor;
}
.background span:nth-child(9) {
    color: #bd8e28;
    top: 15%;
    left: 40%;
    animation-duration: 32s;
    animation-delay: -15s;
    transform-origin: 12vw -6vh;
    box-shadow: 40vmin 0 5.950919280274038vmin currentColor;
}
.background span:nth-child(10) {
    color: #5e5379;
    top: 74%;
    left: 65%;
    animation-duration: 38s;
    animation-delay: -6s;
    transform-origin: -15vw -6vh;
    box-shadow: 40vmin 0 5.2469072846036005vmin currentColor;
}
.background span:nth-child(11) {
    color: #5e5379;
    top: 15%;
    left: 79%;
    animation-duration: 50s;
    animation-delay: -8s;
    transform-origin: 0vw 2vh;
    box-shadow: 40vmin 0 5.432410192127669vmin currentColor;
}
.background span:nth-child(12) {
    color: #bd8e28;
    top: 50%;
    left: 55%;
    animation-duration: 16s;
    animation-delay: -10s;
    transform-origin: 3vw -8vh;
    box-shadow: -40vmin 0 5.891660242288427vmin currentColor;
}
.background span:nth-child(13) {
    color: #5e5379;
    top: 89%;
    left: 4%;
    animation-duration: 17s;
    animation-delay: -14s;
    transform-origin: 8vw -20vh;
    box-shadow: -40vmin 0 5.583558700805323vmin currentColor;
}
.background span:nth-child(14) {
    color: #5e5379;
    top: 13%;
    left: 42%;
    animation-duration: 41s;
    animation-delay: -1s;
    transform-origin: 11vw 22vh;
    box-shadow: 40vmin 0 5.793928690669192vmin currentColor;
}
.background span:nth-child(15) {
    color: #5e5379;
    top: 80%;
    left: 99%;
    animation-duration: 23s;
    animation-delay: -15s;
    transform-origin: -10vw -5vh;
    box-shadow: 40vmin 0 5.854486340547121vmin currentColor;
}
.background span:nth-child(16) {
    color: #bccdbc;
    top: 49%;
    left: 30%;
    animation-duration: 20s;
    animation-delay: -39s;
    transform-origin: 21vw -5vh;
    box-shadow: 40vmin 0 5.639263650692353vmin currentColor;
}
.background span:nth-child(17) {
    color: #bd8e28;
    top: 80%;
    left: 26%;
    animation-duration: 20s;
    animation-delay: -19s;
    transform-origin: -13vw -10vh;
    box-shadow: 40vmin 0 5.611504189173977vmin currentColor;
}
.background span:nth-child(18) {
    color: #bccdbc;
    top: 13%;
    left: 66%;
    animation-duration: 21s;
    animation-delay: -2s;
    transform-origin: 11vw -2vh;
    box-shadow: 40vmin 0 5.062438463116488vmin currentColor;
}
.background span:nth-child(19) {
    color: #5e5379;
    top: 54%;
    left: 74%;
    animation-duration: 17s;
    animation-delay: -2s;
    transform-origin: 18vw 13vh;
    box-shadow: 40vmin 0 5.390034612592803vmin currentColor;
}