@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5F6FA;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* HEADER NAVBAR */

.wrapper {
    height: 45vh;
    width: 100%;
    background-image: url(../imgs/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.about-del-top {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 2rem 0;
    
}

.about-del {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 1.875rem;
    gap: 1rem;
}

.about-del-top img {
    width: 30rem;
    border-radius: 10px;

}

h1 {
    color: #3E3E81;
    font-size: 1.8rem;
    padding-right: 2rem;
    margin-top: 4rem;
    text-align: center;

}
.navbar-link img {
    width: 4rem;
  }

footer {
    width: 100%;
    background: linear-gradient(blue, skyblue);
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 5rem;
}

footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li {
    list-style: none;
}

footer .social-icon li a {
    font-size: 2rem;
    color: #f6f6f6;
    margin: 0 0.625rem;
    display: inline-block;
    transition: 0, 5s;
}

footer .social-icon li a:hover {
    transform: translateY(-0.625);
    color: rgb(192, 12, 12);
}

.copyright {
    display: flex;
    text-align: center;
    align-items: center;
}

footer p {
    font-size: .7rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: auto;
}

@media screen and (max-width: 768px) {

    .about-del-top img {
        width: 70%;
    }

    .about-del {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        padding: 4rem 0;
    }
}



@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(rgb(20, 20, 78), rgb(28, 59, 71));
    }

    .about-del p {
        color: #fff;
    }

    footer {
        background: linear-gradient(rgb(20, 20, 78), rgb(28, 59, 71));
    }

    .copyright p {
        color: #fff;
    }
}